on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Checkstyle
        run: mvn checkstyle:check

      - name: Maven Compile
        run: mvn clean compile

      - name: Run test
        run: mvn test

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            ps aux | grep '[j]ava -jar app.jar' | awk '{print $2}' | xargs -r kill -15 || true
            sleep 2
            ps aux | grep '[j]ava -jar app.jar' | awk '{print $2}' | xargs -r kill -9 || true
            rm -f /opt/app/app.jar
            echo "uploading..."

      - name: Upload Jar
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "target/nexxus-starter-0.0.1-SNAPSHOT.jar"
          target: "/opt/app/app.jar"

      - name: Start App
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /opt/app
            nohup java -jar app.jar > app.log 2>&1 &

